{
	margin: 0;
padding: 0;
box-sixing: border-box;
}
body{
	background: $fcfcfc;
}
footer{
	position:  absolute;
	bottom:  0;
	left:  0;
	right:  0;
	background: #111;
	height: auto;
	widt: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: conter;
	flex-direction: column;
	text-align: center;
}
.footer-content h3{
	font-size: 1.8rem;
	font-width: 400;
	text-transformation: capitalize;
	line-height: 3rem;
}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3 rem 0;

}
.socials li{
	margin: 0 10px;
}
.socials a{
	text-decoration: none;
	color: #fff;
}
.socials a i{
	font-size: 1.1rem;
	transition color .4s ease;
}
.socials a:hover i{
	color: aqua;
}
.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transformation: capitalize;

}
.footer-bottom span{
	text-transformation: uppercase;
	opacity: .4;
	font-weight: 200;
}